@import "tailwindcss";

/* :root {
  --background: #bbb;
  --foreground: #111;
} */

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #bbb;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
font-family: var(--font-poppins), system-ui, sans-serif;
}
.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image{
  animation: move 3s infinite ease alternate;
}
@keyframes move {
  from{
    transform: translateY(-15px)
  }
  to{
    /* transform: translateY(0px) scale(1.03); */
  }
}

.itms:nth-child(1){
  background: url("/illustration.png");
}
.itms:nth-child(2){
  background: url("/websites.jpg");
}
.itms:nth-child(3){
  background: url("/apps.jpg");
}

.itms{
  background-size: cover !important;
}

/* .itms:hover .title */

.light {
  background-color: white;
  color: #111;
}
.dark {
  background-color: #111;
  color: #bbb;
}
.theme{
  transition: 1s all ease;
}

.inputt{
 padding: 20px;
 background: transparent;
 border: 2px solid #bbb;
 border-radius: 5px;
 font-size: 20px;
 font-weight: bold;
 color: #bbb;
 /* transition: all ease-in-out 3s; */
}

.inputy{
  border: 2px solid #bbb;
  padding: 10px;
  border-radius: 3px;
  background: transparent;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}
